<body class="text-center">
<link href="/v1/public/css/centerLogin.css" rel="stylesheet">
<main class="center-form-signin">
    <form id="adminValidationForm">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="admin">
            <label for="username">User Name</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" id="adminFormBtn" type="button">Sign in</button>
    </form>
</main>
<script src="/v1/public/js/admin.login.js"></script>
</body>