<div class="container-fluid">
    <div class="row">
        <h1>ADMIN HOME</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group">
                <a type="button" class="btn btn-secondary" href="/tables/location" role="button">Location</a>
                <a type="button" class="btn btn-secondary" href="/tables/vaccine" role="button">Vaccine</a>
                <a type="button" class="btn btn-secondary" href="/tables/whitelist_user" role="button">Whitelisted Institution</a>
            </div>
        </div>
    </div>
</div>
<script src="/v1/public/js/admin.js"></script>