<div class="container">
    <div class="row">
        <div class="col">
            Center Name : {{center.name}}
        </div>
        <div class="col">
            Center Daily Capacity : {{center.capacity}}
        </div>
    </div>
</div>