<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">
            <img src="/v1/public/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/v1/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v1/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v1/vaccine-card">Vaccine Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v1/vaccine-status">Vaccination Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v1/certificate">Certificate</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="/v1/faq">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="heading d-flex align-items-center" style="height: 100px; background-color: tomato;">
        <h1 style="padding-left: 75px; color: white;">Vaccine Status</h1>
    </div>
</div>

<section id="verification">
    <form id="verificationForm">
        <select id="selectType" class="form-select">
            <option selected value="none">--Select File Type--</option>
            <option value="NID">NID</option>
            <option value="BCF">BCF</option>
        </select>
        <label for="nid" class="form-label" >NID Number :</label>
        <input type="number" id="nid" name="nid" class="form-control"
               placeholder="Example - 19825624603112948" maxlength="13" autocomplete="off">
        <label for="bcf" class="form-label" >Birth Registration Number :</label>
        <input type="number" id="bcf" name="bcf" class="form-control"
               placeholder="Example - 19825624603112948" maxlength="17" autocomplete="off">
        <h5>Date of Birth :</h5>
        <input type="date" id="dob" name="dob">

        <label for="pwd" class="form-label">
            <h5>Password :</h5>
        </label>
        <input type="password" id="pwd" name="pwd" class="form-control"
               placeholder="Enter a valid password">
        <button type="button" class="btn-primary" id="statusBtn">Get Status</button>
    </form>
</section>

<section id="statusSection" hidden>
    <table class="table table-striped" id="historyTable">
        <thead>
        <tr>
            <th scope="col">Dose No</th>
            <th scope="col">Vaccine Given Date</th>
            <th scope="col">Vaccination Center</th>
            <th scope="col">Vaccine Name</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>

{{>footer}}

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/v1/public/js/status.front.js"></script>
<script id="historyTemp" type="text/x-handlebars-template">
    \{{#each history}}
        <tr>
            <th scope="row">\{{DOSE_NO}}</th>
            <td>\{{GIVEN_DATE}}</td>
            <td>\{{CENTER}}</td>
            <td>\{{VACCINE_NAME}}</td>
        </tr>
    \{{/each}}
</script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>