<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col" style="width: 200px;">
                    <h1>Surokkha</h1>
                </div>
                <div class="col" style="font-weight: bold; width: 400px;">
                    <ul>
                        <li><a href="/v1/faq">FAQ</a></li>
                       <!-- <li><a href="#"></a>Manual</li>
                        <li><a href="#"></a>Privacy Policy</li>
                        <li><a href="#"></a>Terms of Services</li>
                        <li><a href="#"></a>Other Affiliates</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>